.Sidebar {
    padding: 15px;
    background: #eaeaea;
    border-right: 1px solid gray;
    min-height: 200px;
    width: 25%;
}

.Sidebar ul {
    padding: 0;
    list-style: none;
}

.Sidebar ul li {
    position: relative;
    padding: 15px 20px 15px 5px;
}

.Sidebar>ul>li {
    border-top: 1px solid grey;
}

.Sidebar ul li ul {
    padding-left: 20px;
}


.addButton {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 100%;
    background: #0dbd05;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    border: 1px solid #b1b1b1;
}

.addButton span {
    font-size: 16px;
    color: black;
    display: inline-block;
}